:root {
    --dark-color: #121212;
    --dark-color-1: #1f1f1f;
    --dark-color-transparent: rgb(18, 18, 18, 0.2);

    --light-text-color: rgba(255, 255, 255, 0.87);
    --light-text-color-1: rgba(255, 255, 255, 0.60); 
    --light-text-color-2: rgba(255, 255, 255, 0.38); 
    --primary-color: #1abc9c;
    --primary-color-darker: #16a085;
    --accent-color:#9b59b6;
    --accent-color-darker:#8e44ad;
    --transition-duration: 0.3s;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.invisible {
    display: none !important;
}

body {
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    width: 100%;
    min-height: 100vh;
    background-color: var(--dark-color);
    color: var(--light-text-color);
}

#weather-infos {
    justify-self: center;
    max-height: 100%;
    height: fit-content;
    width: 50vw;
    padding: 30px;
    border-radius: 20px;
    background-color: var(--dark-color-1);
}

.location-summary {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    position: relative;
    margin: -30px -30px 0;
}

.video-wrapper {
    grid-area: 1/1;
    width: 100%;
    height: 30vh;
}

.video-wrapper::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: linear-gradient(to right, var(--dark-color-1), rgba(0 0 0 / 0));
    border-radius: 10px 20px 0 0;
}

.location-summary-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.location-summary > .location-summary-content {
    padding: 0 3rem 3rem;
    grid-area: 1/1;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    > #location-name {
        font-size: 2.5rem;
        margin: 0 0 30px;
        color: var(--light-text-color);
    }

    > #location-conditions {
        font-size: 1.5rem;
        margin: 0;
        word-wrap: break-word;
        color: var(--light-text-color-1);
    }
}

.location-details {
    display: flex;
    flex-direction: row;
    height: 100px;
    margin-top: 20px;
}

.location-temperatures-grid {
    display: grid;
    grid-template-columns: 96px 1fr;
    grid-template-rows: 50px 1fr;
}

.temperature-icon {
    grid-area: 1 / 1 / span 2 / 2;
    color: var(--primary-color);
    svg {
        height: 96px;
        width: 96px;
    }
}

#location-temp {
    grid-area: 1 / 2;
    font-size: 2.5rem;
    font-weight: bold;
}

#location-feel-temp-container {
    grid-area: 2 / 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--light-text-color-1);

    #location-feel-temp {
        font-size: 1.5rem;
        font-weight: bold;
    }
}

.windspeed-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1ch;

    font-size: 1.5rem;
    font-weight: bold;
}

.windspeed-icon svg{
    height: 40px;
    width: 40px;
    vertical-align: middle;
    color: var(--primary-color);
}

.time-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1;
    width: 100%;
    color: var(--light-text-color-1);

    > span:first-child{
        font-weight: bold;
    }
}

header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.app-logo {
    text-decoration: none;
    color: var(--primary-color);
    margin: 0 0 0 30px;
    grid-area: 1 / 1;
    z-index: 1;
    transition: color var(--transition-duration);
    width: min-content;

    &:hover {
        transition: color var(--transition-duration);
        color: var(--primary-color-darker);
    }
}

.header-controls {
    grid-area: 1 / 1 / 1 / span 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.form-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#weather-search-location {
    border-radius: 15px 0 0 15px;
    border: 3px solid var(--primary-color);
    border-right: none !important;
    transition: border var(--transition-duration);

    padding: 8px 6px;
    font-size: 1em;
    background-color: var(--primary-color);
    height: 36px;
    outline: none;
    color: var(--light-text-color);
    font-weight: bold;

    &:focus,
    &:focus + .search-button {
        border: 3px solid var(--light-text-color);
    }
}

.search-button {
    border: 3px solid var(--primary-color);
    border-left: none !important;
    border-radius: 0 15px 15px 0;
    transition: border var(--transition-duration);

    background-color: var(--primary-color);
    height: 36px;
    cursor: pointer;
    color: var(--light-text-color);

    svg {
        height: 24px;
        width: 24px;
        vertical-align: middle;
    }
}

#weather-my-location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 15px;
    padding: 8px 20px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    color: var(--light-text-color);
    background-color: var(--primary-color);
    transition: background-color var(--transition-duration);

    &:hover {
        background-color: var(--primary-color-darker);
        transition: background-color var(--transition-duration);
    }

    svg {
        height: 20px;
        width: 20px;
        margin-right: 0.5em;
        color: var(--light-text-color);
    }
}

.location-secondary-container {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1ch;
}

footer a {
    color: var(--light-text-color);
    font-weight: bold;
    transition: color var(--transition-duration);

    &:hover {
        color: var(--light-text-color-1);
        transition: color var(--transition-duration);
    }
}
